appdirs==1.4.4
astroid==2.4.2
attrs==19.3.0
aws-cdk.assets==1.45.0
aws-cdk.aws-apigateway==1.45.0
aws-cdk.aws-applicationautoscaling==1.45.0
aws-cdk.aws-autoscaling==1.45.0
aws-cdk.aws-autoscaling-common==1.45.0
aws-cdk.aws-autoscaling-hooktargets==1.45.0
aws-cdk.aws-batch==1.45.0
aws-cdk.aws-certificatemanager==1.45.0
aws-cdk.aws-cloudformation==1.45.0
aws-cdk.aws-cloudfront==1.45.0
aws-cdk.aws-cloudwatch==1.45.0
aws-cdk.aws-codebuild==1.45.0
aws-cdk.aws-codecommit==1.45.0
aws-cdk.aws-codedeploy==1.45.0
aws-cdk.aws-codepipeline==1.45.0
aws-cdk.aws-codepipeline-actions==1.45.0
aws-cdk.aws-cognito==1.45.0
aws-cdk.aws-ec2==1.45.0
aws-cdk.aws-ecr==1.45.0
aws-cdk.aws-ecr-assets==1.45.0
aws-cdk.aws-ecs==1.45.0
aws-cdk.aws-elasticloadbalancing==1.45.0
aws-cdk.aws-elasticloadbalancingv2==1.45.0
aws-cdk.aws-events==1.45.0
aws-cdk.aws-events-targets==1.45.0
aws-cdk.aws-iam==1.45.0
aws-cdk.aws-kinesis==1.45.0
aws-cdk.aws-kms==1.45.0
aws-cdk.aws-lambda==1.45.0
aws-cdk.aws-logs==1.45.0
aws-cdk.aws-route53==1.45.0
aws-cdk.aws-route53-targets==1.45.0
aws-cdk.aws-s3==1.45.0
aws-cdk.aws-s3-assets==1.45.0
aws-cdk.aws-sam==1.45.0
aws-cdk.aws-secretsmanager==1.45.0
aws-cdk.aws-servicediscovery==1.45.0
aws-cdk.aws-sns==1.45.0
aws-cdk.aws-sns-subscriptions==1.45.0
aws-cdk.aws-sqs==1.45.0
aws-cdk.aws-ssm==1.45.0
aws-cdk.aws-stepfunctions==1.45.0
aws-cdk.cdk-assets-schema==1.45.0
aws-cdk.cloud-assembly-schema==1.45.0
aws-cdk.core==1.45.0
aws-cdk.custom-resources==1.45.0
aws-cdk.cx-api==1.45.0
aws-cdk.region-info==1.45.0
botocore==1.17.2
cattrs==1.0.0
-e git+codecommit::ap-southeast-2://pipeline-stack@91e2343760463ffd7b81db321a0af0275ad35e65#egg=cdk_pipelines
constructs==3.0.3
distlib==0.3.0
docutils==0.15.2
filelock==3.0.12
git-remote-codecommit==1.13
importlib-metadata==1.6.1
isort==4.3.21
jmespath==0.10.0
jsii==1.6.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
publication==0.0.3
pylint==2.5.3
python-dateutil==2.8.1
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.9
virtualenv==20.0.23
wrapt==1.12.1
zipp==3.1.0
